<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= subject %></title>
    <%- include('includes/styles') %>
</head>
<body style="font-family: Helvetica, sans-serif; background-color: #f4f5f6; margin: 0; padding: 0;">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body" width="100%" bgcolor="#f4f5f6">
        <tr>
            <td>&nbsp;</td>
            <td class="container" width="600" valign="top">

                <!-- Include header -->
                <%- include('includes/header') %>

                <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 600px; padding: 0;">
                    <span class="preheader" style="display: none; max-height: 0; opacity: 0; overflow: hidden;">
                        <%= subject %>
                    </span>

                    <table role="presentation" class="main" width="100%" style="background: #ffffff; border: 1px solid #eaebed; border-radius: 16px;">
                        <tr>
                            <td class="wrapper" style="padding: 24px;">
                                <h2 style="margin: 0 0 16px; font-size: 20px; color: #333333;">
                                    <%= subject %>
                                </h2>

                                <p>Hello <%= title %> <%= first_name %>,</p>

                                <p style="margin: 0 0 16px; color: #333333;">
                                    // content here
                                </p>

                            </td>
                        </tr>
                    </table>

                    <!-- Include footer -->
                    <%- include('includes/footer') %>

                </div>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</body>
</html>